@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    margin: 0mm;
}

body {
    -webkit-print-color-adjust: exact !important;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}


@layer base {
    h1 {
        @apply text-2xl font-semibold text-gray-700 ;
    }
    h2 {
        @apply text-xl font-semibold;
    }
    h3 {
        @apply text-lg font-semibold text-gray-700;
    }
    h4 {
        @apply font-bold text-sm;
    }
}

@layer component {

    section {

        @apply text-gray-600 text-sm ;

        > p {
            @apply leading-4 text-sm;
        }
    }
    .badge {
        @apply px-2 py-0 text-gray-700 bg-gray-200 rounded-xl text-xs;
    }

    .tag {
        @apply px-2 py-[2px] text-gray-700 bg-gray-200 rounded-xl;
    }

    t {
        @apply px-1 pb-[2px] text-gray-700 bg-gray-200 rounded;
    }

    c {
        @apply px-1 pb-[2px] text-blue-700 font-semibold;
    }

    d {
        @apply text-gray-400 italic text-xs;
        &:before {
            content: " • ";
        }
    }

    .badges {
        @apply inline-block text-xs;
        > span {
            @apply badge mr-2 ;
            /*&:before {*/
            /*    content: "\a0";*/
            /*    height: calc(100%);*/
            /*    @apply absolute bg-gray-200 w-[1px] -left-4;*/
            /*}*/
        }
    }

    .subtitle {
        @apply font-bold text-xs;
    }

    header {
        > span {
            @apply font-bold text-xs;
        }
    }
    .card {
        @apply relative rounded-xl;
        /*&:before {*/
        /*    content: "\a0";*/
        /*    height: calc(100%);*/
        /*    @apply absolute bg-gray-200 w-[1px] -left-4;*/
        /*}*/
    }

    .lefty {
        &:before {
            content: "\a0";
            height: calc(100%);
            @apply absolute bg-gray-200 w-[1px] -left-4;
        }
    }

}
