<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Middleman</title>
    <link href="/stylesheets/site.css" rel="stylesheet" />
    <script src="/javascripts/site.js"></script>
  </head>
  <body>
    <section class="mt-8 first:mt-0"><h2>EDUCATION</h2><section><header><h3>École Centrale Paris, 2011</h3><p>2010 – 2013| Master of Engineering</p></header></section></section>
  </body>
</html>
