section.mt-8.first:mt-0
  .break-inside-avoid
    h2.mb-4.font-bold.tracking-widest.text-sm2.text-gray-550.print:font-normal ABOUT ME
    section.mb-4.5.break-inside-avoid
      header
        h3.text-lg.font-semibold.text-gray-700.leading-snugish   Full stack Engineer
        p.leading-normal.text-md.text-gray-650  Since 2010
      p.mt-2.1.text-md.text-gray-700.leading-normal
        | Highly versatile and results-driven full stack engineer with extensive experience in the React ecosystem and Ruby on Rails. Seeking challenging opportunities to leverage technical expertise and leadership skills to drive innovative projects to success. Always looking for sub-optimization and cost efficiency
