h2 About
section
  ' Nomadic life from 2016 to 2022, I recently decided to settle in la Rochelle (France). I love kitesurfing and sailing in general.Sailed round the world in 2020.
  ' I also love chess. But chess doesn't really like me.
