section.mt-8.first:mt-0
  .break-inside-avoid
    h2.mb-4.font-bold.tracking-widest.text-sm2.text-gray-550.print:font-normal
      |  EDUCATION
    section.mb-4.5.break-inside-avoid
      header
        h3.text-lg.font-semibold.text-gray-700.leading-snugish
          |  Graz University of Technology
        p.leading-normal.text-md.text-gray-650
          |  2014 – 2015 | Master's Degree in Chemistry
  section.mb-4.5.break-inside-avoid
    header
      h3.text-lg.font-semibold.text-gray-700.leading-snugish
        |  Vienna University of Technology
      p.leading-normal.text-md.text-gray-650
        |  2010 – 2013 | Bachelor’s Degree in Biology
  section.mb-4.5.break-inside-avoid
    header
      h3.text-lg.font-semibold.text-gray-700.leading-snugish
        |  Vienna University of Technology
      p.leading-normal.text-md.text-gray-650
        |  2010 – 2013| Bachelor’s Degree in Chemistry