div.px-4.bg-gray-50.rounded
  section
    h3 Backend developer

    div.rounded.border-l-2.pl-2
      p Designed, developed and delivered the following projects solo:

      .py-2
        a href="https://staging.myiledere.rentals" target="_blank"
          h4  myilederé.rentals (2023)
        p Developed a home booking system using <t>rails</t>, the <t>hotwire</t> suite and <t>tailwind</t>. Deployed on <t>render</t> w/ <t>circleci</t>

      .py-2

        a href="https://www.youtube.com/watch?v=PkkYJG7rgHE" target="_blank"
          h4 Hotel Mobility (2020)
        p Built a solution for a electric scooter rental system comprised of a <t>rails</t> API + <t>node</t> server embed on rPi. Deployed on <t>gcp</t> using <t>docker</t> & <t>ansible</t>

      .py-2
        h4 Clicknfid (2020)
        p Built a chat bot with <t>react</t> <t>graphql</t> <t>prisma</t>

    div.rounded.border-l-2.pl-2.mt-2
      .py-2
        h4 Pearltrees (2013 - 2016)
        span <i> junior developer (Paris)</i>
        p Maintained a custom multi-threaded background jobs queuing system built in <t>java</t>. Contributed to high volume a web-scraping system. Contributed to ios, android and web apps

  section
    h3 React consultant

    .py-2
      p Conducted performance audits, providing optimization recommendations, and delivering team training sessions.

    .py-2
      h4 SUSH (2023)
      p Optimized rendering performances tracking useless re-renders and mis-configured <t>zutand</t> selectors

    .py-2
      h4 JUMP (2021)
      p Helped the team mitigating their app latency app by untangling their poorly designed components. Initiated migration to <t>typescript</t> and <t>redux-tool-kit</t>. Delivered team training sessions.

    .py-2
      h4 weenat (2020)
      p Conducted performance audits, providing optimization recommendations. Reduced render count by 80% on home page.


  section
    h3 Mobile development

    .py-2
      .rounded.border-l-2.pl-2
        .py-2
          h4 Happypal (2024)
          p Deployed a fully automated deployment pipelines for their <t>capacitor</t> apps, using <t>fastlane</t> and <t>GitHub Actions</t>

        .py-2
          h4 Instamed (2020-2023), Hotel mobility (2020), Goodshopping (?-?)
          p Built full-featured <t>react-native</t> apps from 0 to the stores.



      .rounded.border-l-2.pl-2.mt-2
        .py-2
          h4 SUSH (2023)
          p Investigated and fixed a bug in ios and android widgets leading to $7k S3 bill overdue

        .py-2
          h4 Babysittor (2016)
          p built & published <t>android</t> app

