header.flex
  = image_tag 'profile.png', class: "inline-block object-cover h-20 w-20 rounded-full ring-2 ring-gray-200"
  div.ml-4
    h1 Quentin Gaultier
    div.text-xs
      div La Rochelle, France

      a href="tel:(+33)627934750" target="_blank"
        div ="(+33) 627 934 750"
      a href="https://github.com/gaultierq" target="_blank"
        = '@gaultierq'

