section.mt-8.first:mt-0
  .break-inside-avoid
    h2.mb-4.font-bold.tracking-widest.text-sm2.text-gray-550.print:font-normal
      |  SKILLS
    section.mb-4.5.break-inside-avoid
      header
        h3.text-lg.font-semibold.text-gray-700.leading-snugish
          |  JavaScript
        p.leading-normal.text-md.text-gray-650
          |  Middle Level
      p.mt-2.1.text-md.text-gray-700.leading-normal
        |  Good parts: pure function, higher-order functions, factory functions, composition. Bad parts: inheritance, this, new.
      .my-3.2.last:pb-1.5
        ul.flex.flex-wrap.text-md.leading-relaxed.-mr-1.6.-mb-1.6
          li.badge
            |  ES6
          li.badge
            |  Vue
          li.badge
            |  Functional Programming
          li.badge
            |  Node
  section.mb-4.5.break-inside-avoid
    header
      h3.text-lg.font-semibold.text-gray-700.leading-snugish
        |  Other
    .my-3.2.last:pb-1.5
      ul.flex.flex-wrap.text-md.leading-relaxed.-mr-1.6.-mb-1.6
        li class="badge"
          |  CSS
        li.badge
          |  Rust
        li.badge
          |  Git
        li.badge
          |  Go
        li.badge
          |  Linux Server
        li.badge
          |  UI Design
        li.badge
          |  Photoshop
        li.badge
          |  Illustrator
        li.badge
          |  Figma
        li.badge
          |  Typography